.third-block {
  box-sizing: border-box;
  padding: 0 21px 80px;
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;

  &__description {
    font-family: 'Montserrat', 'Arial', sans-serif;
    max-width: 592px;
  }

  &__title {
    margin: 0 0 18px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
  }

  &__paragraph {
    margin: 0;
    font-size: 16px;
    line-height: 28px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__picture {
    background: url('../../assets/images/Group.jpg') no-repeat center/contain;
    flex-basis: 592px;
    height: 448px;
  }
}
