.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 57px 21px 45px;
  background-color: #f6f8fa;
  font-family: 'Montserrat', 'Arial', sans-serif;
  margin: 0 0 80px;

  &__title {
    margin: 0 0 32px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  &__btn {
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 50px;
    border: none;
    background: url('../../assets/images/angle.svg') no-repeat center;

    &_type_next {
      transform: scaleX(-1);
    }

    &_active {
      background-image: url('../../assets/images/angle-active.svg');
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    grid-template-rows: repeat(auto-fit, 316px);
    justify-content: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  &__card {
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
    padding: 22px;
  }

  &__avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  &__user {
    display: flex;
    gap: 16px;
  }

  &__user-info {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__user-name {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__user-city {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #5e646a;
  }

  &__content {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #191c1f;
  }
}

@media screen and (max-width: 984px) {
  .comments {
    margin-bottom: 40px;

    &__btn {
      display: none;
    }

    &__cards {
      gap: 24px;
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }
}

@media screen and (max-width: 568px) {
  .comments {
    padding: 27px 0px 37px;
    margin-bottom: 43px;

    &__cards {
      gap: 24px;
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }
}

@media screen and (max-width: 370px) {
  .comments {
    padding: 27px 0px 37px;
    margin-bottom: 43px;

    &__cards {
      grid-template-columns: repeat(auto-fit, 288px);
    }
  }
}
