.work {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 20px 80px;
  font-family: 'Montserrat', 'Arial', sans-serif;

  &__title {
    margin: 0 0 61px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
  }

  &__list {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 32px;
    justify-content: space-evenly;
    list-style: none;
  }

  &__img {
    display: block;
    margin: 0 0 16px;
  }

  &__heading {
    margin: 0 0 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__paragraph {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }
}

@media screen and (max-width: 984px) {
  .work {
    padding: 56px 20px 71px;

    &__list {
      grid-template-columns: repeat(auto-fit, 340px);
    }

    &__item {
      display: flex;
      gap: 16px;
    }

    &__img {
      margin: 0;
    }
  }
}
