.work {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 80px 24px 80px;
  max-width: 1216px;
  font-family: 'Montserrat', 'Arial', sans-serif;

  &__title {
    margin: 0 0 61px;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    list-style: none;
  }

  &__img {
    display: block;
    margin: 0 0 16px;
  }

  &__heading {
    margin: 0 0 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }
}
